name: Build Android APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Build APK
        uses: amirisback/automated-build-android-app-with-github-action@master
        with:
          app_name: "Rider Tracker Pro"
          package_name: "com.marcocarbone.ridertracker"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Rider-Tracker-APK
          # Questo comando forza GitHub a cercare l'APK in ogni cartella creata
          path: "**/*.apk"
          if-no-files-found: error
